body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;;
  background-color: #fefefe;
  margin: 10% auto; 
  border: 1px solid #888;
  width: 30%;
  height: 55%;
  text-align: center;
  overflow: hidden;
}

.modalHeader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid black;
}

.modalHeader h3 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  text-align: left;
  margin-left: 2.5%;
}

.modalHeader span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
}

.modalForm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin-bottom: 4%;
  width: 67%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.newDiv {
  position: relative;
  border: 2px black solid;
  margin-bottom: 2%;
  border-radius: 5px;
  background-color: aliceblue;
  z-index: 1;
}

.newDiv button {
  margin-bottom: 2%;
}

.newDiv2 {
  height: 200px;
  width: 500px;
}

.newDiv3 {
  height: 200px;
  width: 500px;
}